<!--
    <div>
        <mat-list class="horizontal-list">
            <mat-list-item class="li" *ngFor="let item of empDetails">
              <mat-icon mat-list-icon>verified_user</mat-icon>
              <h5 mat-line>{{item.username}}</h5>
              <small mat-line> {{item.phone}} </small>
            </mat-list-item>
        </mat-list>
    </div>

</div> -->

<div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar" *ngFor="let item of empDetails">
                    <!-- SIDEBAR USERPIC -->
                    <div class="rounded d-flex justify-content-center ">
                        <img src="{{item.image}}" class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                                {{item.username}}
                        </div>
                        <div class="profile-usertitle-job">
                            {{item.empDep}}
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                            <button mat-mini-fab color="primary" >
                                <mat-icon>verified_user</mat-icon>
                            </button>
                            <button mat-mini-fab color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                            <mat-list class="horizontal-list">
                                    <mat-list-item class="li">
                                      <mat-icon mat-list-icon>home</mat-icon>
                                      <h5 mat-line>{{item.address}}</h5>
                                    </mat-list-item>
                                    <mat-list-item class="li">
                                            <mat-icon mat-list-icon>phone</mat-icon>
                                            <h5 mat-line>{{item.phone}}</h5>
                                    </mat-list-item>
                            </mat-list>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
        </div>
    </div>

<app-employee-list (childEvent)="empDetails = $event" ></app-employee-list>
